html, body{
  margin:0;
  padding:0;
  font-family: Verdana, sans-serif;
  background-color: #dddddd;
}

header, nav, section, footer{
  /*border: 1px solid black;*/
}

#wrap{
  width:70%;
  /*border:2px solid black;*/
  margin: 0 auto;
  background-color: White;
}

header{
  text-align: center;
  padding: 10px;
  background-color: Black;
}


header img {
  width: 75%;
}

nav{
  background-color: #4169E1;
padding: 15px 0;
font-size: 22px;
font-weight: bold;
text-align: center;

}

nav a {
  color:#FFD700;
  padding: 20px 20px;
  text-decoration: none;
}

nav a:hover{
  background-color: #FFD700;
  color: #000000;
}

nav li {
  display:inline;
}

nav ul{
  margin: 0;
  padding: 0;
}

section{
padding: 40px;
overflow: auto;
}

section h1{
  color: #000000;
  margin: 0;
  font-size: 200%;
}

footer{
  background-color: #000000;
  color: #FFD700;
  text-align: center;
  padding: 10px;
}

.hlg{
  width: 30%;
  float: right;
}

.button{
  background-color: #000000;
  color: #FFD700;
  padding: 20px;
  font-size: 150%;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
}
