html, body{
  margin: 0
  padding:0
}

#wrap {
  margin:0 auto;
  width: 100%;
}
header, section, nav, footer{
  background: white;
  font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
header{
  background-color: black;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  color: Gold;
}

nav{
  background-color: Gold;
  padding: 10px;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}
nav li {
  display: inline;
}
nav a {
  color: Red;
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
}

nav a:hover{
  color:  black;
  padding: 20px;
}


nav ul{
  margin: 0;
  padding: 0;
}
section{
  background-color: lightblue;
  overflow: auto;
  text-align: center;
}
aside{

  width: 25%;
  float: left;
  padding: 2% 0% 2% 0%;
}

aside a{
  color: white;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding: 10px;
}

aside a:hover{
  background-color: red;
}

aside a{
  padding:10px;
}

aside li{
  list-style-type: none;
}

aside ul{
padding: 0;
margin: 0;
}


Article{
  background-color: white;
  width: 69%;
  float: right;
  padding: 2% 4%;
}
section img{
  align-content: center;
  text-align: center;
}
section p{
  color: black;
}

footer{
  background-color: Blue;
  padding: 2%;
  align-content: center;
  color: white;
}

.yesbird{
  width: 35%;
  float: right;
  margin: 0 0 20px 40px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}
#wrap{
  width: 100%;
}
nav li{
  display: inline;
}


nav a{
  display:inline-block;
  padding: 10px;
}

aside, article{
  float: none;
  width: 91%;
}
.yesbird{
  float: none;
  width:90%;
  margin: 10px;
}
footer{
  text-align: center;
  font-size: 40px;
  padding: 20px;
  color: Gold;
}
